{{outlet}}

<h1><img src="https://api.opendota.com{{model.icon}}"> {{model.localized_name}}</h1>


<ul class="list-unstyled">

  <li>1000mmr picks: {{model.1_pick}}</li>

  <li>1000mmr win: {{model.1_win}}</li>

  <li>2000mmr pick: {{model.2_pick}}</li>

  <li>2000mmr win: {{model.2_win}}</li>

  <li>3000mmr pick: {{model.3_pick}}</li>

  <li>3000mmr win: {{model.3_win}}</li>

  <li>4000mmr pick: {{model.4_pick}}</li>

  <li>4000mmr win: {{model.4_win}}</li>

  <li>5000mmr wins: {{model.5_win}}</li>

  <li>Roles: {{model.roles}}</li>

</ul>
<small><cite>Data/api from opendota.com</cite></small><br><br>
